<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="ljy_yjw.team_manage.system.dbConn.mybatis.FreeBoardDAO">

	<update id="update" parameterType="FreeBoard">
		UPDATE `free_board`
		SET content
		= #{content},
		title = #{title}
		WHERE seq = #{seq}
	</update>

	<update id="delete" parameterType="long">
		UPDATE `free_board`
		SET state =
		'NO'
		WHERE seq = #{seq}
	</update>

	<update id="fileDelete" parameterType="hashMap">
		DELETE FROM `board_file_and_img`
		WHERE NAME = #{fileName} AND free_board_seq = #{seq}
	</update>
</mapper>
