<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="ljy.book.admin.customRepository.mybaits.FreeBoardDAO">

	<update id="update" parameterType="FreeBoardDTO">
		UPDATE `free_board`
		SET content = #{content},
		    title = #{title}
		WHERE seq = #{seq}
	</update>

	<update id="delete" parameterType="long">
		UPDATE `free_board`
		SET state = 'NO'
		WHERE seq = #{seq}
	</update>


</mapper>
