<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="ljy.book.admin.customRepository.mybaits.PlanByUserDAO">
	
	<select id="chartDataByPlan" parameterType="string" resultType="hashmap">
		SELECT users.name,COUNT(users.seq) AS 'count'
		FROM team,plan_by_user,users
		WHERE team.seq = plan_by_user.team_seq AND plan_by_user.user_seq = users.seq AND CODE = #{code}
		GROUP BY user_seq
	</select>
	
	<update id="delete" parameterType="long">
		UPDATE `plan_by_user`
		SET state = 'NO'
		WHERE seq = #{seq}
	</update>

	<update id="update" parameterType="PlanByUserDTO">
		UPDATE `plan_by_user`
		SET content = #{content}
		,END = #{end}
		,START = #{start}
		, tag = #{tag}
		, progress = #{progress}
		WHERE seq = #{seq}
	</update>
	
	<update id="updateProgress" parameterType="hashmap">
		UPDATE `plan_by_user`
		SET progress = #{progress}
		WHERE seq = #{seq}
	</update>
	
</mapper>
