<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="ljy.book.admin.customRepository.mybaits.PlanByUserDAO">
	
	<update id="delete" parameterType="long">
		UPDATE `plan_by_user`
		SET state = 'NO'
		WHERE seq = #{seq}
	</update>

	<update id="update" parameterType="PlanByUserDTO">
		UPDATE `plan_by_user`
		SET content = #{content}
		,END = #{end}
		,START = #{start}
		, tag = #{tag}
		, progress = #{progress}
		WHERE seq = #{seq}
	</update>
	
</mapper>
