<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="ljy.book.admin.customRepository.mybaits.TeamDAO">
	
	<select id="checkTeamAuth" parameterType="hashmap" resultType="TeamDTO">
		SELECT team.*
		FROM team
		WHERE
		team.code = #{code} AND 
		(
			team.team_leader_seq = (
						SELECT seq
						FROM users
						WHERE id = #{id}
			)
			OR
			team.seq IN (
				SELECT team_seq
				FROM join_team
				WHERE state = 'YES' AND user_seq IN (
									SELECT seq
									FROM users
									WHERE id = #{id}
				)
			)
		)
	</select>
	
	<select id="getTeam" resultType="TeamDTO" parameterType="hashmap">
		SELECT t.*
		FROM team t
		LEFT OUTER JOIN join_team q ON t.seq = q.team_seq
		WHERE
		(
		t.team_leader_seq = (
					SELECT seq
					FROM Users
					WHERE id = #{id}
				
		)
		OR
		(
		q.state = 'YES'
		AND
		q.user_seq = (
			SELECT seq
			FROM users
			WHERE id = #{id}
		)
		)
		)
		AND t.code = #{code}
	</select>
	
	<select id="getTeamsUnfinished" parameterType="string" resultType="hashmap">
	<![CDATA[
		SELECT t.*
		FROM team t
		LEFT OUTER JOIN join_team q ON t.seq = q.team_seq
		WHERE
		(
		t.team_leader_seq = (
					SELECT seq
					FROM Users
					WHERE id = #{id}
				
		)
		OR
		(
		q.state = 'YES'
		AND
		q.user_seq = (
			SELECT seq
			FROM users
			WHERE id = #{id}
		)
		)
		)
		AND t.start_date <= LEFT(NOW(),10) AND t.end_date <= LEFT(NOW(),10) AND t.flag = 'YES'
	]]>
	</select>

	<select id="getTeamsFinished" parameterType="string" resultType="hashmap">
	<![CDATA[
		SELECT t.*
		FROM team t
		LEFT OUTER JOIN join_team q ON t.seq = q.team_seq
		WHERE
		(
		t.team_leader_seq = (
					SELECT seq
					FROM Users
					WHERE id = #{id}
				
		)
		OR
		(
		q.state = 'YES'
		AND
		q.user_seq = (
			SELECT seq
			FROM users
			WHERE id = #{id}
		)
		)
		)
		AND t.end_date < LEFT(NOW(),10) AND t.flag = 'YES'
	]]>
	</select>
	
	<update id="update" parameterType="TeamDTO">
		UPDATE team
		SET name = #{name}, start_Date = #{startDate}, end_Date = #{endDate}
		WHERE seq = #{seq}
	</update>
	
	<update id="delete" parameterType="TeamDTO">
		UPDATE team
		SET flag = 'NO'
		WHERE seq = #{seq}
	</update>
	
	<update id="updateProgress" parameterType="TeamDTO">
		UPDATE team
		SET progress = #{progress}
		WHERE code = #{code}
	</update>
	
	<update id="signUpSuccess" parameterType="long">
		UPDATE `join_team`
		SET state = 'YES'
		WHERE seq = #{seq}
	</update>
	
	<update id="signUpFaild" parameterType="hashMap">
		UPDATE `join_team`
		SET reson = #{reson}
		WHERE seq = #{seq}
	</update>
</mapper>
