<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="ljy_yjw.team_manage.system.dbConn.mybatis.TodoListDAO">

	<update id="delete" parameterType="long">
		UPDATE `todo_list`
		SET state =
		'NO'
		WHERE seq = #{seq}
	</update>

	<update id="updateIng">
		UPDATE `todo_list`
		SET ing = 'YES'
		WHERE seq = #{seq}
	</update>

	<update id="updateIngFaild">
		UPDATE `todo_list`
		SET ing = 'NO'
		WHERE seq = #{seq}
	</update>

	<update id="update" parameterType="TodoList">
		UPDATE `todo_list`
		SET title =
		#{title}
		WHERE seq = #{seq}
	</update>

</mapper>
