<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="ljy_yjw.team_manage.system.dbConn.mybatis.UserDAO">
	<update id="update" parameterType="Users">
		UPDATE `users`
		SET NAME =
		#{name}, email = #{email}
		WHERE id = #{id}
	</update>

	<update id="delete" parameterType="Users">
		UPDATE `users`
		SET flag = 'NO'
		WHERE id = #{id}
	</update>
	
	<update id="insertImage" parameterType="hashMap">
		UPDATE users
		SET img = <![CDATA[#{img}]]>
		WHERE id = #{id}
	</update>
	
	<update id="fileDelete" parameterType="hashMap">
		UPDATE `users`
		SET img = null
		WHERE id = #{id}
	</update>
</mapper>
